html{
    height: 100vh;
}

body {
    background: antiquewhite;

}


/*
PAGE DISTRIBUTION
 */
.column_nav{
    float: right;
    width: 15vh;
}
/*.column_body{*/
/*    float: left;*/
/*    width: 80%;*/
/*    height: 60vh;*/

/*}*/

.page{
    align-items: center;
    display: flex;

    height: 90vh;
    width: 100vh;
    justify-content: center;

}
h1{

}



.page-enter-active,
.page-leave-active {

    transition: opacity 0.5s, transform 1.0s;
}
.page-enter-from{
    opacity: 0;
    transform: translateY(-50vh);
}
.page-leave-to {
    opacity: 0;
    transform: translateY(50vh);
}

.background-contact{
    background: red;
}


#bottomfoot{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;            /* Footer height */
}



/*
PAGE TRANSITION
 */






/*
footer
 */
.hover-div {
    width: 100px;
    height: 100px;
    background-color: blue;
    color: white;
    text-align: center;
    line-height: 100px;
    position: relative;
    animation: hoverEffect 1s infinite alternate ease-in-out; /* Define the animation */
}

@keyframes hoverEffect {
    0% {
        transform: translateY(0); /* Start position */
    }
    100% {
        transform: translateY(-10px); /* End position (adjust as needed) */
    }
}
