html{
    background: lightslategrey;
    padding: 0;
    color: white;
}

.background_background1{
    position: relative;
}
.upper-background{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50%;
    height: auto;
    background-size: 50% auto;
    z-index: -1; /* Set a negative z-index to place it behind other content */
}


body {
    overflow: hidden;
}

header{
    height: 0vh;
}


/* this doesnt work wtf*/
.hover-div1 {
    animation: hoverEffect 1s infinite alternate ease-in-out; /* Define the animation */
}
.hover-div2 {
    animation: hoverEffect 1.1s infinite alternate ease-in-out; /* Define the animation */
}

@keyframes hoverEffect {
    0% {
        transform: translateY(0); /* Start position */
    }
    100% {
        transform: translateY(-6px); /* End position (adjust as needed) */
    }
}

.hover-div1:hover img,
.hover-div2:hover img{
    transform: scale(1.3); /* Make the image slightly bigger on hover */
    filter: brightness(1.8); /* Adjust brightness to change color on hover */
    transition: transform 0.3s, filter 1.3s; /* Add smooth transition effect */
}


ul, li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}



.nav-background{
    padding-top: 20vh;
    background: rgba(255,255,255, 0.4) ;
    height: 78vh;
    float: right;
    width: 15vh;
}
.column_nav{
    padding-top: 20vh;
    position: relative;
    right: 0;
    width: 15vh;
    color: rgba(255,255,255, 1) ;
    height: 78vh;


}

.nav_boxes1{
    padding: 1vh;
    color: red;
}
.nav_boxes2{
    padding: 1vh;

}
.nav_boxes3{
    padding: 1vh;

}
.nav_boxes4{
    padding: 1vh;

}
.nav_boxes5{
    padding: 1vh;

}
.nav_boxes6{
    padding: 1vh;

}
/*.column_body{*/
/*    float: left;*/
/*    width: 80%;*/
/*    height: 60vh;*/

/*}*/

.page{
    align-items: center;
    display: flex;

    height: 95vh;
    width: 80vh;
    justify-content: center;

}
h1{

}



.page-enter-active,
.page-leave-active {

    transition: opacity 0.425s, transform 0.425s;
}
.page-enter-from{
    opacity: 0;
    transform: translateY(-20vh);
}
.page-leave-to {
    opacity: 0;
    transform: translateY(20vh);
}

.background-contact{
    background: red;
}


#bottomfoot{
    position: relative;
    bottom: 0;
    width: 100%;

    height: 5vh;            /* Footer height */

}
.uffe-gif{
    max-width: 80px;
    max-height: 80px;
    width: 80px; /* Adjust the width to your desired size */
    position: absolute;
    height: auto;
    bottom:0;
    right:0;
}

.githubicon{
    width: 40px; /* Adjust the width to your desired size */
    position: relative;
    height: auto;
    float: left;
    opacity: 0.5;
}

.linkedinicon{
    width: 40px; /* Adjust the width to your desired size */
    position: relative;
    height: auto;
    padding-left: 0.5rem;
    float: left;
    opacity: 0.5;

}


/*
footer
 */

